<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    <form method="post">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required><br><br>
        
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required><br><br>
        
        <button type="submit">Se connecter</button>
    </form>
    <p><a href="{{ url_for('signup') }}">S'inscrire</a></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
