<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Inscription</title>
</head>
<body>
    <h1>Inscription</h1>
    <form method="post">
        <label for="pseudo">Pseudo :</label>
        <input type="text" name="pseudo" required><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required><br><br>

        <label for="mail">E-mail :</label>
        <input type="email" name="mail" required><br><br>

        <label for="ddn">Date de naissance (JJMMYYYY) :</label>
        <input type="text" name="ddn" required><br><br>

        <label for="user_type">Type de compte :</label>
        <select name="user_type" required>
            <option value="artiste">Artiste</option>
            <option value="amateur">Amateur</option>
        </select><br><br>

        <button type="submit">S'inscrire</button>
    </form>
    <p><a href="{{ url_for('signin') }}">Se connecter</a></p>
</body>
</html>
