h1 {
    text-align: center;
    color : rgb(180, 180, 180);
    font-size: 80px;
    text-decoration: wavy;
}
h2 {
    text-align: left;
    color : #b4b4b4;
    font-size: 60px;
}
h3 {
    text-align: left;
    color : rgb(154, 154, 154);
    font-size: 40px;
}
h4 {
    text-align: left;
    color : rgb(255, 255, 255);
    font-size: 40px;
}
body {
    background-color: rgb(58, 58, 58)
}
p span {
    background: rgb(206, 155, 88);
}
a:visited {
    color: rgb(127, 198, 132)
}
a:hover {
    color:rgb(207, 245, 255)
}
